.promptContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px;
}

.promptLabelInput {
    width: 100%;
    font-family: Inter, sans-serif;
    font-size: 14px;
}

.promptLabelInput input {
    height: 38px !important;
    padding: 0 12px !important;
}

.selectorOptionsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    max-height: 150px;
}

.selectorButtonContainer {
    position: absolute;
    background-color: white;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
    border-radius: 6px;
}

.selectorButton {
    min-height: unset !important;
    height: 30px !important;
    min-width: unset !important;
    width: 80px !important;
}
